@model IEnumerable<SchedulingSystemClassLibrary.Models.Instructor>
@{
    ViewBag.Title = "Instructors";
}

<header>
    <div class="container-fluid">
        <div class="page-header">
            <h3>Instructors</h3>
            <h5>Total: @Model.Count()</h5>
        </div>
    </div>
</header>

