@model IEnumerable<SchedulingSystemClassLibrary.Models.Building>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table id="buildings" class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>

@section scripts
{
    <script>
        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            var rooms = d.rooms;
            console.log(rooms);
            var html = ''; 

            if (rooms.length > 0) {
                html = '<table class="inner-table" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
                html += "<thead><th>Room Name</th><th>Room Size</th><th>Is Lecture Room</th><th>Is Lab Room</th></thead>";
                for (var i = 0 ; i < rooms.length; i++) {
                    html += '<tr>';
                    html += '<td>' + rooms[i].name + '</td>';
                    html += '<td>' + rooms[i].size + '</td>';
                    var isChecked = rooms[i].isLectureRoom ? 'checked="checked"' : '';
                    html += '<td><input class="check-box" type="checkbox" disabled="disabled" ' + isChecked + '></td>';
                    isChecked = rooms[i].isLabRoom ? 'checked="checked"' : '';
                    html += '<td><input class="check-box" type="checkbox" disabled="disabled" ' + isChecked + '></td>';
                    html += '</tr>';
                }

                html += '</table>';
            }
           
            
            return html; 
        }

        $(document).ready(function () {
            var table = $('#buildings').DataTable({
                ajax: {
                    url: "/api/buildings",
                    dataSrc: ""
                },
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    { data: "name" },
                    { data: "number" },
                ],
                "order": [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            $('#buildings tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });
    </script>
}
