@model IEnumerable<SchedulingSystemClassLibrary.Models.Building>

@{
    ViewBag.Title = "Buildings";
}

<header>
    <div class="container-fluid">
        <div class="page-header">
            <h3>Buildings</h3>
            <h5>Total: @Model.Count()</h5>
        </div>
    </div>
</header>

<p>
    @Html.ActionLink("Create New Building", "New", null,new { @class = "btn btn-primary"})
</p>
<table id="buildings" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th>
                Total Lecture Rooms
            </th>
            <th>
                Total Lab Rooms
            </th>
            <td>

            </td>
        </tr>
    </thead>
    <tbody>

    </tbody>

</table>

@section scripts

{
    <script>
        /* Formatting function for row details - modify as you need */
        function format(d) {
            // `d` is the original data object for the row
            var rooms = d.rooms;
            var html = '';

            if (rooms.length > 0) {
                html = '<table class="inner-table" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
                html += "<thead><th>Room Name</th><th>Room Size</th><th>Is Lecture Room</th><th>Is Lab Room</th></thead>";
                for (var i = 0 ; i < rooms.length; i++) {
                    html += '<tr>';
                    html += '<td>' + rooms[i].name + '</td>';
                    html += '<td>' + rooms[i].size + '</td>';
                    var isChecked = rooms[i].isLectureRoom ? 'checked="checked"' : '';
                    html += '<td><input class="check-box" type="checkbox" disabled="disabled" ' + isChecked + '></td>';
                    isChecked = rooms[i].isLabRoom ? 'checked="checked"' : '';
                    html += '<td><input class="check-box" type="checkbox" disabled="disabled" ' + isChecked + '></td>';
                    html += '</tr>';
                }

                html += '</table>';
            }


            return html;
        }

        $(document).ready(function () {
            var table = $('#buildings').DataTable({
                ajax: {
                    url: "/api/buildings",
                    dataSrc: ""
                },
                columns: [
                    {
                        "className": 'details-control',
                        "orderable": false,
                        "data": null,
                        "defaultContent": ''
                    },
                    { data: "name" },
                    { data: "number" },
                    {
                        data: "rooms",
                        render: function (data, type, building) {
                            var lectureRooms = 0;
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].isLectureRoom)
                                    lectureRooms++;
                            }
                            return lectureRooms;
                        }
                    },
                    {
                        data: "rooms",
                        render: function (data, type, building) {
                            var labRooms = 0;
                            for (var i = 0; i < data.length; i++) {
                                if (data[i].isLabRoom)
                                    labRooms++;
                            }
                            return labRooms;
                        }
                    },
                    {
                        data: 'id',
                        render: function (data, type, building) {
                            return '<a href="/Buildings/Edit/' + data + '" class="btn btn-info"><i class="fa fa-edit"></i> Edit</a> '
                                    + '<button class="btn btn-danger js-delete" data-building-id="' +
                                     building.id + '"><i class="fa fa-trash"></i> Delete</button>';
                        }
                    }
                ],
                "order": [[1, 'asc']]
            });

            // Add event listener for opening and closing details
            $('#buildings tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                }
                else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
           
            $('#buildings').on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this building?", function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/buildings/' + button.attr('data-building-id'),
                            method: 'DELETE',
                            success: function () {
                                location.reload(true);
                            }
                        });
                    }
                });
            });
        });
    </script>
}
