
@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New Department", "New", null ,new { @class = "btn btn-primary"})
</p>
<table id="departments" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of Instructors</th>
            <th>Number of Sections</th>
            <th>Department Head</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#departments').DataTable({
                ajax: {
                    url: "/api/departments",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "instructors.length",
                        render: function (data, type, department) {
                            if (data > 0)
                                return '<a href="/Departments/Instructors/' + department.id + '">' + data + '</a>';
                            else
                                return data;
                        }
                    },
                    {
                        data: "sections.length",
                        render: function (data, type, department) {
                            if (data > 0)
                                return '<a href="/Departments/Sections/' + department.id + '">' + data + '</a>';
                            else
                                return data;
                        }
                    },
                    {
                        data: "departmentHeadId",
                        render: function (data, type, department) {
                            if (department.departmentHead != null) {
                                return department.departmentHead.fullName;
                            }
                        }

                    },
                    {
                        data: 'id',
                        render: function (data, type, department) {
                            return '<a href="/Departments/Edit/' + data + '" class="btn btn-info"><i class="fa fa-edit"></i> Edit</a>' +
                            ' <button class="btn btn-danger js-delete" data-department-id="' + data + '" data-department-name="' + department.name
                            + '"><i class="fa fa-trash"></i> Delete</button>';
                        }
                    }
                ]
            });

            $('#departments').on('click', '.js-delete', function () {
                var button = $(this);
                bootbox.confirm('Are you sure you want to delete <strong>' + button.attr('data-department-name') + '</strong> Department?', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/departments/' + button.attr('data-department-id'),
                            method: 'DELETE',
                            success: function () {
                                location.reload(true);
                            }
                        });
                    }
                });
            });
        });
    </script>
}


