@model SchedulingSystemClassLibrary.ViewModels.CurriculumsIndexViewModel

@{
    ViewBag.Title = "Curriculums";
} 

<header>
    <div class="container-fluid">
        <div class="page-header">
            @if (Model.DepartmentName != null)
            {
                <h3>Curriculums in @Model.DepartmentName Department</h3>
                <h5>Total: @Model.CurriculumsCount</h5>
            }
            else
            {
                <h3>Curriculums</h3>
            }
        </div>
    </div>
</header>

<section id="breadcrumb">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Curriculums</li>
        </ol>
    </div>
</section>

<p>
    @Html.ActionLink("Create New Curriculum", "New", null, new { @class = "btn btn-primary"})
</p>
<table id="curriculums" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                Field of Study
            </th>
            <th>
                Nomenclature
            </th>
            <th>
                Admission Classification
            </th>
            <th>
                Program
            </th>
            <th>
                Stay Year
            </th>
            <th>
                Stay Semester
            </th>
            <th>
                Minimum Credit
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>    
    </tbody>
</table>

@section scripts    
{
    <script>
        $(document).ready(function () {
            var table = $("#curriculums").DataTable({
                ajax: {
                    url: "/api/curriculums/@Model.DepartmentId" ,
                    dataSrc: ""
                },
                columns:
                    [
                        {
                            data: "fieldOfStudy"
                        },
                        {
                            data: "nomenclature"
                        },
                        {
                            data: "admissionClassification"
                        },
                        {
                            data: "program"
                        },
                        {
                            data: "stayYear"
                        },
                        {
                            data: "staySemester"
                        },
                        {
                            data: "minimumCredit"
                        },
                        {
                            data: "id",
                            render: function(data) {
                                return '<a class="btn btn-success" href="/Curriculums/Edit/' + data + '"><i class="fa fa-edit"></i> Edit </a>' +
                                ' <button class="btn btn-danger js-delete" data-curriculum-id="' + data + '"><i class="fa fa-trash"></i> Delete</button>';
                        }
                    }
                ]
            });


            $("#curriculums").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this curriculum?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/curriculums/" + button.attr("data-curriculum-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
</script>
}