@model IEnumerable<SchedulingSystemClassLibrary.Models.Curriculum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Curriculum", "New")
</p>
<table id="curriculums" class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>
                Field of Study
            </th>
            <th>
                Nomenclature
            </th>
            <th>
                Admission Classification
            </th>
            <th>
                Program
            </th>
            <th>
                Stay Year
            </th>
            <th>
                Stay Semester
            </th>
            <th>
                Minimum Credit
            </th>
            <th>
                Department
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>    
    </tbody>
</table>

@section scripts    
{
    <script>
        $(document).ready(function () {
            var table = $("#curriculums").DataTable({
                ajax: {
                    url: "/api/curriculums",
                    dataSrc: ""
                },
                columns:
                    [
                        {
                            data: "fieldOfStudy",
                            render: function(data, type, curriculum) {
                                return "<a href='/curriculums/edit/" + curriculum.id + "'>" + data + "</a>";
                            }
                        },
                        {
                            data: "nomenclature"
                        },
                        {
                            data: "admissionClassification"
                        },
                        {
                            data: "program"
                        },
                        {
                            data: "stayYear"
                        },
                        {
                            data: "staySemester"
                        },
                        {
                            data: "minimumCredit"
                        },
                        {
                            data: "department.name"
                        },
                        {
                            data: "id",
                            render: function(data) {
                                return "<button class='btn-link js-delete' data-curriculum-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#curriculums").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this curriculum?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/curriculums/" + button.attr("data-curriculum-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
</script>
}