body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

td.details-control {
    background: url('Images/icons-plus.png') no-repeat center center;
    background-size: 20px 20px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('Images/icons-minus.png') no-repeat center center;
    background-size: 20px 20px;
}

.inner-table {
    margin-left: 7%; 
}

.dash-box {
    text-align: center;
}

.breadcrumb {
    background: #cccccc;
    color: #333333;
}

.breadcrumb {
    color: #333333;
}

.panel-body{
    border: 1px solid #dddddd;
    margin-top: -20px !important;
}

.home-link {
    text-decoration: none !important;
}

.well:hover {
  background-color: #cccccc;
}