
@{
    ViewBag.Title = "Assign";
}

<h2>Assign Room to Sections</h2>

<table id="sections"  class="table table-bordered table-responsive table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Entrance Year
            </th>
            <th>
                Student Count
            </th>
            <th>
                Department
            </th>
            <th>
                Lecture Room
            </th>
            <th>
                Lab Room
            </th>
            <th>
                Assign
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts 
{
    <script>
        $(document).ready(function () {
            var table = $("#sections").DataTable({
                ajax: {
                    url: "/api/sections",
                    dataSrc: ""
                },
                columns: 
                    [
                        {
                            data: "name"
                        },
                        {
                            data: "entranceYear"
                        },
                        {
                            data: "studentCount"
                        },
                        {
                            data: "department.name"
                        },
                        {
                            render: function (data, type, section) {
                                var html = '<select class="lectureRoomsCombo">';

                                var assignedLectureRoomId = 0;

                                if (section.assignedLectureRoomId)
                                    assignedLectureRoomId = section.assignedLectureRoomId;

                                for (var i = 0; i < section.rooms.length; i++) {
                                    if (section.rooms[i].id == 0) {
                                        html += '<option selected value="' + section.rooms[i].id + '">Not Assigned</option>';
                                    } else {
                                        if (section.rooms[i].isLectureRoom) {
                                            if (section.rooms[i].id == assignedLectureRoomId)
                                                html += '<option selected value="' + section.rooms[i].id + '">B: ' + section.rooms[i].building.buildingTitle + ' R: ' + section.rooms[i].name + '</option>';
                                            else
                                                html += '<option value="' + section.rooms[i].id + '">B: ' + section.rooms[i].building.buildingTitle + ' R: ' + section.rooms[i].name + '</option>';
                                        }
                                    }
                                }
                                html += '</select>'
                                return html; 
                            }
                        },
                        {
                            render: function (data, type, section) {
                                var html = '<select class="labRoomsCombo">';

                                var assignedLabRoomId = 0;

                                if (section.assignedLabRoomId)
                                    assignedLabRoomId = section.assignedLabRoomId;

                                for (var i = 0; i < section.rooms.length; i++) {
                                    if (section.rooms[i].id == 0) {
                                        html += '<option selected value="' + section.rooms[i].id + '">Not Assigned</option>';
                                    } else {
                                        if (section.rooms[i].isLabRoom) {
                                            if (section.rooms[i].id == assignedLabRoomId)
                                                html += '<option selected value="' + section.rooms[i].id + '">B: ' + section.rooms[i].building.buildingTitle + ' R: '+ section.rooms[i].name + '</option>';
                                            else
                                                html += '<option value="' + section.rooms[i].id + '">B: ' + section.rooms[i].building.buildingTitle + ' R: '+ section.rooms[i].name + '</option>';
                                        }
                                    }
                                }
                                html += '</select>';
                                return html;
                            }
                        },
                        {
                            data: "id",
                            render: function (data, type, section) {
                                return '<button class="btn btn-primary js-assign" data-section-id="' + section.id + '">Assign</button>';
                            }
                        }
                    ]
            });

            $('#sections').on('click', '.js-assign', function () {
                var button = $(this);
                var sectionId = button.attr('data-section-id');

                var lectureRoomId = button.parents('tr').find('td select.lectureRoomsCombo').val();
                var labRoomId = button.parents('tr').find('td select.labRoomsCombo').val();

                $.ajax({
                    url: "/api/sections/assign",
                    method: "POST",
                    data: { "sectionId": sectionId, "lectureRoomId": lectureRoomId, "labRoomId": labRoomId },
                    success: function () {
                        table.draw();
                    }
                });
            });
        });
    </script>
}

