
@{
    ViewBag.Title = "Academic Calendar";
}

<header>
    <div class="container-fluid">
        <div class="page-header">
            <h3>Academic Calendar</h3>
        </div>
    </div>
</header>

<div id="displayModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventSubject"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="eventSelectedId" name="id" value="0" />
                <div class="row">
                    <div class="col-md-8">
                        <label>Description: </label>
                        <p id="descriptionDisplay"></p>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default" id="editButton"><i class="fa fa-pencil"></i> Edit</button>
                        <button class="btn btn-danger" id="deleteButton"><i class="fa fa-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>

<div id="saveModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>

            </div>
            <div class="modal-body">
                <form id="form" action="/AcademicCalendars/Save" method="post">
                    <input type="hidden" id="eventId" name="id" value="0"/>

                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="start">Start</label>
                        <input type="date" id="start" name="start" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="end">End</label>
                        <input type="date" id="end" name="end" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="color">Color</label>
                        <input type="text" id="color" name="color" class="form-control" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="saveButton" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id='calendar'></div>

@section Scripts 
{
    <script>
        $(document).ready(function () {
            $("#color").spectrum({
                showInput: true,
                className: "full-spectrum",
                showInitial: true,
                showPalette: true,
                showSelectionPalette: true,
                maxSelectionSize: 10,
                preferredFormat: "hex",
                localStorageKey: "spectrum.demo",
                move: function (color) {

                },
                show: function () {

                },
                beforeShow: function () {

                },
                hide: function () {

                },
                change: function () {

                },
                palette: [
                    ["rgb(0, 0, 0)", "rgb(67, 67, 67)", "rgb(102, 102, 102)",
                    "rgb(204, 204, 204)", "rgb(217, 217, 217)", "rgb(255, 255, 255)"],
                    ["rgb(152, 0, 0)", "rgb(255, 0, 0)", "rgb(255, 153, 0)", "rgb(255, 255, 0)", "rgb(0, 255, 0)",
                    "rgb(0, 255, 255)", "rgb(74, 134, 232)", "rgb(0, 0, 255)", "rgb(153, 0, 255)", "rgb(255, 0, 255)"],
                    ["rgb(230, 184, 175)", "rgb(244, 204, 204)", "rgb(252, 229, 205)", "rgb(255, 242, 204)", "rgb(217, 234, 211)",
                    "rgb(208, 224, 227)", "rgb(201, 218, 248)", "rgb(207, 226, 243)", "rgb(217, 210, 233)", "rgb(234, 209, 220)",
                    "rgb(221, 126, 107)", "rgb(234, 153, 153)", "rgb(249, 203, 156)", "rgb(255, 229, 153)", "rgb(182, 215, 168)",
                    "rgb(162, 196, 201)", "rgb(164, 194, 244)", "rgb(159, 197, 232)", "rgb(180, 167, 214)", "rgb(213, 166, 189)",
                    "rgb(204, 65, 37)", "rgb(224, 102, 102)", "rgb(246, 178, 107)", "rgb(255, 217, 102)", "rgb(147, 196, 125)",
                    "rgb(118, 165, 175)", "rgb(109, 158, 235)", "rgb(111, 168, 220)", "rgb(142, 124, 195)", "rgb(194, 123, 160)",
                    "rgb(166, 28, 0)", "rgb(204, 0, 0)", "rgb(230, 145, 56)", "rgb(241, 194, 50)", "rgb(106, 168, 79)",
                    "rgb(69, 129, 142)", "rgb(60, 120, 216)", "rgb(61, 133, 198)", "rgb(103, 78, 167)", "rgb(166, 77, 121)",
                    "rgb(91, 15, 0)", "rgb(102, 0, 0)", "rgb(120, 63, 4)", "rgb(127, 96, 0)", "rgb(39, 78, 19)",
                    "rgb(12, 52, 61)", "rgb(28, 69, 135)", "rgb(7, 55, 99)", "rgb(32, 18, 77)", "rgb(76, 17, 48)"]
                ]
            });

            var events = [];
            var selectedEvent = null;

            $.ajax({
                url: '/api/academiccalendars',
                method: 'GET',
                success: function (data) {
                    $.each(data, function (i, eventData) {
                        events.push({
                            id: eventData.id,
                            title: eventData.subject,
                            description: eventData.description,
                            start: eventData.start,
                            end: eventData != null ? eventData.end : null,
                            color: '#' + eventData.color.toString(16),
                            allDay: eventData.isFullDay
                        });
                    });

                    DrawCalendar(events);
                }
            })

            function DrawCalendar(events) {
                $('#calendar').fullCalendar({
                    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    navLinks: true, // can click day/week names to navigate views
                    selectable: true,
                    selectHelper: true,
                    select: function (start, end) {
                        $('#subject').val('');
                        $('#description').val('');
                        $('#start').val(start.format('YYYY-MM-DD'));
                        $('#end').val(end.format('YYYY-MM-DD'));
                        $('#color').val('');

                        $("#saveModal").modal();
                        
                        //$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent; 
                        $('#eventSubject').text(calEvent.title);
                        $('#descriptionDisplay').text(calEvent.description);
                        $('#eventSelectedId').val(calEvent.id);
                        $('#displayModal').modal();
                    }
                });
            }

            $('#saveButton').click(function () {
                if (selectedEvent != null) {
                    $("#calendar").fullCalendar('removeEvents', selectedEvent.id);
                }
                

                $.ajax({
                    url: '/api/AcademicCalendars',
                    type: 'POST',
                    data : $('#form').serialize(),
                    success: function (response) {
                        var returnedEvent = {
                            id: response.id,
                            title: response.subject,
                            description: response.description,
                            start: response.start,
                            end: response != null ? response.end : null,
                            color: '#' + response.color.toString(16),
                            allDay: response.isFullDay
                        };
                        
                        $('#calendar').fullCalendar('renderEvent', returnedEvent, true);
                        $('#saveModal').modal('hide');
                    }
                });
            });

            $('#deleteButton').click(function () {
                $('#displayModal').modal('hide');
                bootbox.confirm("Are you sure you want to delete this event", function (result) {
                    if (result) {
                        
                        $.ajax({
                            url: '/api/AcademicCalendars/' + selectedEvent.id, 
                            method: 'DELETE',
                            success: function () {
                                $("#calendar").fullCalendar('removeEvents', selectedEvent.id);
                            }
                        });
                    }
                    
                })
                
            });

            $('#editButton').click(function () {
                $('#displayModal').modal('hide');

                $('#eventId').val(selectedEvent.id);
                $('#subject').val(selectedEvent.title);
                $('#description').val(selectedEvent.description);
                $('#start').val(selectedEvent.start.format('YYYY-MM-DD'));
                $('#end').val(selectedEvent.end.format('YYYY-MM-DD'));
                $('#color').val(selectedEvent.color);

                $("#saveModal").modal();
            });
        });
    </script>   
}
